@model WebApp.Models.PersonneViewModel
@{
    ViewData["Title"] = "Ajout d'une Personne";
}
<h2>Ajout d'une Personne</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <h4>Personne</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- #region nomPersonne -->
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <!-- #endregion -->
            <!-- #region prenomPersonne -->
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <!-- #endregion -->
            <!-- #region agePersonne -->
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <!-- #endregion -->
            <!-- #region dateNaissancePersonne -->
            <div class="form-group">
                <label asp-for="DateNaissance" class="control-label"></label>
                <input asp-for="DateNaissance" class="form-control" />
                <span asp-validation-for="DateNaissance" class="text-danger"></span>
            </div>
            <!-- #endregion -->
            <!-- #region genrePersonne -->
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <select asp-for="Genre" class="form-control" asp-items="@(new SelectList(ViewBag.ListGenres,"Value", "Text"))"></select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <!-- #endregion -->
            <!-- #region CiviliteePersonne -->
            <div class="form-group">
                <label asp-for="Civilitee" class="control-label"></label>
                <select asp-for="Civilitee" class="form-control" asp-items="@(new SelectList(ViewBag.ListCivilitee,"Value", "Text"))"></select>
                <span asp-validation-for="Civilitee" class="text-danger"></span>
            </div>
            <!-- #endregion -->
            <hr />
            <h4>Adresse</h4>
            <!-- #region numeroAdresse -->
            <div class="form-group">
                <label asp-for="Adresse.Numero" class="control-label"></label>
                <input asp-for="Adresse.Numero" class="form-control" />
                <span asp-validation-for="Adresse.Numero" class="text-danger"></span>
            </div>
            <!-- #endregion -->
            <!-- #region nomAdresse -->
            <div class="form-group">
                <label asp-for="Adresse.Nom" class="control-label"></label>
                <input asp-for="Adresse.Nom" class="form-control" />
                <span asp-validation-for="Adresse.Nom" class="text-danger"></span>
            </div>
            <!-- #endregion -->
            <!-- #region typeAdresse -->
            <div class="form-group">
                <label asp-for="Adresse.Type" class="control-label"></label>
                <select asp-for="Adresse.Type" class="form-control" asp-items="@(new SelectList(ViewBag.ListTypeVille,"Value", "Text"))"></select>
                <span asp-validation-for="Adresse.Type" class="text-danger"></span>
            </div>
            <!-- #endregion -->
            <!-- #region IdVille -->
            <input id="IdVille" type="hidden" asp-for="Adresse.IdVille" />
            <div class="form-group">
                <label asp-for="Adresse.Ville.Nom" class="control-label"></label>
                <select asp-for="Adresse.Ville.Id" onchange="RecupIdVille(this.value)" class="form-control" asp-items="@(new SelectList(ViewBag.ListVilles,"Value", "Text"))"></select>
            </div>
            <!-- #endregion -->


            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-success" />
            </div>

        </form>
    </div>
</div>

<script>
    function RecupIdVille(value) {
        document.getElementById("IdVille").value = value;
    }

</script>
<div>
    <a asp-action="Index" class="btn btn-dark btn-sm">Retour à la liste</a>
</div>

