@model WebApp.Models.PersonneViewModel
@{
    ViewData["Title"] = "Editer une personne";
}


<h2>Editer une personne</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <h4>Personne</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"> </label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateNaissance" class="control-label"></label>
                <input asp-for="DateNaissance" class="form-control" />
                <span asp-validation-for="DateNaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label">Genre : </label>
                <select asp-for="Genre" class="form-control"
                        asp-items="@(new SelectList(ViewBag.ListGenres,"Value", "Text"))">
                </select>
                @*<input asp-for="Genre" class="form-control" />*@
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Civilitee" class="control-label">Civilitée : </label>
                <select asp-for="Civilitee" class="form-control"
                        asp-items="@(new SelectList(ViewBag.ListCivilitee,"Value", "Text"))">
                </select>
                <span asp-validation-for="Civilitee" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="IdAdresse" />

            <h4>Adresse</h4>
            <hr />
            <input type="hidden" asp-for="Adresse.Id" />
            <div class="form-group">
                <label asp-for="Adresse.Numero" class="control-label"> Numéro : </label>
                <input asp-for="Adresse.Numero" class="form-control" />
                <span asp-validation-for="Adresse.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse.Nom" class="control-label"> Nom : </label>
                <input asp-for="Adresse.Nom" class="form-control" />
                <span asp-validation-for="Adresse.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse.Type" class="control-label"> Type : </label>
                <select asp-for="Adresse.Type" class="form-control"
                        asp-items="@(new SelectList(ViewBag.ListTypeVille,"Value", "Text"))">
                </select>
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Adresse.IdVille" />
            <h4>Ville</h4>
            <hr />

            @*<input type="" asp-for="Adresse.Ville.Id" />*@


            <div class="form-group">
                <label asp-for="Adresse.Ville.Id" class="control-label">Ville : </label>
                <select asp-for="Adresse.Ville.Id" class="form-control"
                        asp-items="@(new SelectList(ViewBag.ListVilles,"Value", "Text"))">
                </select>
                <span asp-validation-for="Civilitee" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Modifier" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index" class="btn btn-dark btn-sm">Retour à la liste</a>
</div>