
*.cache

.vs/Cube/v16/.suo

.vs/Cube/DesignTimeBuild/.dtbcache.v2

*.json

*.dll

WebApp/obj/

WebApp/bin/

ServiceDAL/bin/

ServiceDAL/obj/

.vs/

.zip

ServiceDALTests/obj/

ServiceDALTests/bin/

AndroidApp/AndroidApp.Android/obj/

AndroidApp/AndroidApp.Android/bin/

*.user

AndroidApp/AndroidApp/obj/

AndroidApp/AndroidApp/bin/

*/bin/