<table class="display" width="100%" id="example">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Mail</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>

$(document).ready(function() {
    $('#example').DataTable( {
        "ajax": {
            "url": "/Personne/GetAllPersonne",
            "dataSrc": ""
        },
        "columns": [
            { "data": "id" },
            { "data": "nom" },
            { "data": "prenom" },
            { "data": "mail" }
        ],
        "columnDefs":[
            {visible: false, targets: [0]},
            {
                targets: 1,
                render: function(data,type,row,meta){
                    return '<a target="_blank" href="/Personne/Edit/' + row.id + '">' + row.nom + '</a>'
                }
            }
        ]

    } );
} );
</script>
