@{
  ViewData["Title"] = "Dashboard Admin";
  ViewData["Page"] = "Dashboard";
}

<table class="display" width="100%" id="example">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Mail</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


<table class="display" width="100%" id="example2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>

$(document).ready(function() {
    $('#example').DataTable( {
        "ajax": {
            "url": "/Personne/GetAllPersonne",
            "dataSrc": ""
        },
        "columns": [
            { "data": "id" },
            { "data": "nom" },
            { "data": "prenom" },
            { "data": "mail" }
        ],
        "columnDefs":[
            {visible: false, targets: [0]},
            {
                targets: 1,
                render: function(data,type,row,meta){
                    return '<a target="_blank" href="/Personne/Edit/' + row.id + '">' + row.nom + '</a>'
                }
            }
        ]

    } );
} );

$(document).ready(function() {
    $('#example2').DataTable( {
        "ajax": {
            "url": "/Ressource/GetAllressourcetovalidate",
            "dataSrc": ""
        },
        "columns": [
            { "data": "id" },
            { "data": "nom" },
            { "data": "date" },
        ],
        "columnDefs":[
            {visible: false, targets: [0]},
            {
                targets: 1,
                render: function(data,type,row,meta){
                    return '<a target="_blank" href="/Ressource/Edit/' + row.id + '">' + row.nom + '</a>'
                }
            }
        ]

    } );
} );
</script>

