@model ServiceDAL.BusinessObjet.Ville
@{
    ViewData["Title"] = "Ajout d'une ville";
}

<h1>Ajout d'une ville</h1>

<h4>Ajout d'une ville</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPostal" class="control-label"></label>
                <input asp-for="CPostal" class="form-control" />
                <span asp-validation-for="CPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

