@model ServiceDAL.BusinessObjet.Ville

<!-- Modal Création d'une ville -->
<div class="modal fade" id="modalCreateVille" tabindex="-1" aria-labelledby="modalCreateVilleLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
     <form asp-controller="Villes" asp-action="Create">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCreateVilleLabel">Ajout d'une ville</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nom" class="control-label"></label>
                    <input asp-for="Nom" class="form-control" />
                    <span asp-validation-for="Nom" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CPostal" class="control-label"></label>
                    <input asp-for="CPostal" class="form-control" />
                    <span asp-validation-for="CPostal" class="text-danger"></span>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-success">Crée la ville !</button>
      </div>
      </form>
    </div>
  </div>
</div>
