@model ServiceDAL.BusinessObjet.Ville
@{
    ViewData["Title"] = "Suppression d'une ville";
}

<h2>Suppression d'une ville</h2>

<h3>Êtes-vous sur de vouloir supprimer cette ville ?</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" disabled="disabled" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPostal" class="control-label"></label>
                <input asp-for="CPostal" class="form-control" disabled="disabled"/>
                <span asp-validation-for="CPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Supprimer" class="btn btn-outline-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

