@section Styles {
    <link rel='stylesheet' href='~/css/maRessource.css'>
    <link rel='stylesheet' href='~/css/card_commentaire.css'>
}

<div class="box_commentaire_ressource">
    <h2>Commentaires</h2>
    <div id="commentaire_container">

    </div>
    <label for="fname">Commentaire</label>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="input-icon"><i class="fas fa-comment"></i></div>
            <textarea id="fname" name="fname" class="form-control verifForm"  placeholder="Votre commentaire">

            </textarea>
            <div class="invalid-feedback fw-bold"></div>
        </div>
        <button id="btn_send" class="btn btn_com_write"><i class="fas fa-paper-plane"></i> Envoyer le commentaire</button>
    </div>
</div>

<script>
    var pause = false;
    var repCom = false;
    $( document ).ready(function() {
        refreshcommentaire();
    });

document.querySelector('#btn_send').addEventListener('click',createcommentaire);



function refreshcommentaire() {
    //GetCommentaireBuyRessource
  console.log("refresh");
  $.ajax({
        //L'URL de la requête 
        url: "/Commentaire/GetCommentaireBuyRessource",

        //La méthode d'envoi (type de requête)
        method: "POST",
        data : {
            id : @Model.Id ,
        }
        
    })

    .done(function(data){
        repCom = false;
        $("#commentaire_container").empty();
        console.log(data);
        for (var i = 0; i < data.length; i++) {
            var date = new Date(data[i].date_com);
            var heure = date.toLocaleTimeString("fr");
            var datefr = date.toLocaleDateString("fr");
            $("#commentaire_container").append('<div class="card_commentaire">'
                    +'<div class="title_commentaire">'
                        +'<span>'+data[i].personne.prenom+' '+data[i].personne.nom+' Le '+datefr+' à '+heure+'</span>'
                        +'<button class="btn_rep_com" data-id_com="'+data[i].id+'"><i class="fas fa-reply"></i> Répondre</button>'
                   +'</div>'
                   + (data[i].isReponse == true ? (data[i].idCommentaireOrigine != null ? ('<span class="mt-4 mb-4 fw-bold">Réponse au commentaire de '+data[i].origineCommentaire.personne.prenom+' '+data[i].origineCommentaire.personne.nom+' :</span><div class="repComQuote"><i class="fas fa-quote-left"></i> '+data[i].origineCommentaire.commentaire+' <i class="fas fa-quote-right"></i></div>') : '') : '')
                    +'<div class="com_commentaire">'
                        +'<p>'+data[i].commentaire+'</p>'
                    +'</div>'
                +'</div>'
            );
        }
        $(".btn_rep_com").on('click', function() {
            if(!repCom) {
                pause = true;
                var idComm = $(this).data("id_com");
                $(this).parent().parent().append('<label for="fname_rep">Réponse au commentaire</label>'
                +'<div class="form-horizontal">'
                    +'<div class="form-group">'
                        +'<div class="input-icon"><i class="fas fa-comment"></i></div>'
                        +'<textarea id="fname_rep" name="fname_rep" class="form-control verifForm"  placeholder="Réponse au commentaire">'
                        +'</textarea>'
                        +'<div class="invalid-feedback fw-bold"></div>'
                    +'</div>'
                    +'<button id="btn_send_rep" data-id_com="'+$(this).data("id_com")+'" class="btn btn_com_write"><i class="fas fa-paper-plane"></i> Envoyer le commentaire</button>'
                +'</div>');
                $("#btn_send_rep").on("click", function(){
                    createcommentaire(idComm);
                })
            }
            repCom = true;
        });
        
    });
}

//EN CAS DE BESOIN ADAPTER LA FONCTION SI DESSOUS
//function refreshcommentaire(id) {
//    //GetCommentaireBuyRessource
//  console.log(id);

//  $.ajax({
//        //L'URL de la requête 
//        url: "/Commentaire/Delete",

//        //La méthode d'envoi (type de requête)
//        method: "POST",
//        data : {
//            id : idcommentaire ,
//        }
        
//    })

//    .done(function(response){
//        console.log(response);
//    });
//}


function createcommentaire(idComReponse = null) {
  console.log("add");
  console.log(@Model.Id);
  console.log(document.querySelector('#fname').value);
  var copr = (idComReponse != null ? document.querySelector('#fname_rep').value : document.querySelector('#fname').value)
  var data = {
            id_ressource : @Model.Id ,
            corp : copr
            
        }
        if(idComReponse != null){
                data.idComReponse = idComReponse;
            }
        console.log(data);
    
    $.ajax({
        //L'URL de la requête 
        url: "/Commentaire/Create",

        //La méthode d'envoi (type de requête)
        method: "POST",
        data : data
        
    })

    .done(function(response){
        pause = false;
        refreshcommentaire();
    });
}

setInterval(function(){if(!pause){refreshcommentaire()}},20000); /* rappel après 2 secondes = 2000 millisecondes */

</script>