@{
  ViewData["Title"] = "Page de connexion";
  ViewData["Page"] = "Connection";
}
@section Styles {
<link rel='stylesheet' href='~/css/login.css'>
}
<section class="w-100 h-100">
  <div class="container w-100 h-100">
    <div class="row justify-content-center align-items-center h-100">
                  <div class="col-xl-9 col-lg-10 col-md-12">
                    <div class="form-container">
                      <div class="form-icon">
                        <img src="~/img/logoV2.png" class="logo-login" alt="logo">
                        <span class="signup">Vous n'avez pas de compte ? <a href="/Connection/Register" class="btn btn-outline-light btn-signup">Créez-en un !</a> </span>
                      </div>
                      <form class="form-horizontal" asp-action="IndexLogin">
                        @{
                          if(ViewBag.message != null){
                            <div class="alert alert-danger alert-dismissible fade show alert-login" role="alert">
                              <i class="fas fa-exclamation-circle"></i>
                                @ViewBag.message
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                          }
                        }
                        <h3 class="title">Connectez-vous !</h3>
                        <div class="form-group">
                          <span class="input-icon"><i class="fa fa-envelope"></i></span>
                          <input name="username" type="email" id="email" class="form-control" placeholder="Adresse mail ou nom d'utilisateur" required/>
                        </div>
                        <div class="form-group">
                          <span class="input-icon"><i class="fa fa-lock"></i></span>
                          <input name="password" type="password" id="password" class="form-control" placeholder="Votre mot de passe" required/>
                        </div>
                        <button class="btn signin" type="submit" id="submit">Connexion</button>
                      </form>
                    </div>
                  </div>
                </div>
  </div>
</section>