@model WebApp.Models.Personne
@{
    ViewData["Title"] = "Création de mon compte";
}
@section Styles {
    <link rel='stylesheet' href='~/css/box_form.css'>
}

<div class="container h-100">
    <div class="row align-items-center h-100">
        <!-- Logo -->
        <div class="col-xl-3 col-lg-12 card-photo center-lg-element mt-xl-0 mt-2">
            <img src="~/img/logoV2.png" class="logo-submit img-logo" alt="logo">
        </div>

        <!-- Formulaire d'inscription -->
        <div class="col-xl-9 col-lg-12 ml-auto card-register">
            <form class="form-horizontal" asp-action="RegisterCreate">
                 <h1>Création de mon compte</h1>
                 <div class="div-general">
                     <h2>Général</h2>
                     @{
                         if (ViewBag.message != null)
                         {
                             <div class="alert alert-danger alert-dismissible fade show alert-login" role="alert">
                                 <i class="fas fa-exclamation-circle"></i>
                                 @ViewBag.message
                                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                             </div>
                         }
                     }
                     <hr />
                     <div class="row">
                         <!-- Prénom -->
                         <div class="col-md-6">
                             <div class="form-group">
                                 <div class="input-icon"><i class="fas fa-address-card"></i></div>
                                 <input asp-for="Prenom" class="form-control verifForm" data-nom="prénom" placeholder="Prénom" required />
                                 <div asp-validation-for="Prenom" class="invalid-feedback fw-bold"></div>
                             </div>
                         </div>
                         <!-- Nom -->
                         <div class="col-md-6">
                             <div class="form-group">
                                 <div class="input-icon"><i class="fas fa-address-card"></i></div>
                                 <input asp-for="Nom" class="form-control verifForm" data-nom="nom" placeholder="Nom" required />
                                 <div asp-validation-for="Nom" class="invalid-feedback fw-bold"></div>
                             </div>
                         </div>
                         <!-- Date de naissance -->
                         <div class="col-md-6">
                             <div class="form-group">
                                 <div class="input-icon"><i class="fas fa-calendar-week"></i></div>
                                 <input asp-for="DateNaissance" class="form-control verifForm dateNaissance" data-nom="date de naissance" required />
                                 <div asp-validation-for="DateNaissance" class="invalid-feedback fw-bold"></div>
                             </div>
                         </div>
                         <!-- Genre -->
                         <div class="col-md-6">
                             <div class="form-group">
                                 <div class="input-icon"><i class="fas fa-genderless"></i></div>
                                 <select required class="form-control verifForm" id="Genre" data-nom="genre" asp-for="Genre" asp-items="@(new SelectList(ViewBag.ListGenres,"Value", "Text"))"><option value="-1" disabled selected hidden>Sélectionner un genre</option></select>
                                 <div asp-validation-for="Genre" class="invalid-feedback fw-bold"></div>
                             </div>
                         </div>
                         <!-- Adresse mail -->
                         <div class="col-md-12">
                             <div class="form-group">
                                 <div class="input-icon"><i class="fa fa-envelope"></i></div>
                                 <input required asp-for="Mail" type="email" class="form-control verifForm" data-nom="adresse mail" placeholder="Adresse mail" />
                                 <div asp-validation-for="Mail" class="invalid-feedback fw-bold"></div>
                             </div>
                         </div>
                         <!-- Mot de passe -->
                         <div class="col-md-6">
                             <div class="form-group">
                                 <div class="input-icon"><i class="fa fa-lock"></i></div>
                                 <input required asp-for="PasswordHash" type="password" id="password" data-nom="mot de passe" minlength="8" class="form-control verifForm" placeholder="Mot de passe" />
                                 <div asp-validation-for="PasswordHash" class="invalid-feedback fw-bold" id="passwordAlert"></div>
                             </div>
                         </div>
                         <!-- Confirmation mot de passe -->
                         <div class="col-md-6">
                             <div class="form-group">
                                 <div class="input-icon"><i class="fa fa-lock"></i></div>
                                 <input required id="confirmPassword" type="password" class="form-control verifForm" data-nom="confirmation de mot de passe" placeholder="Confirmation du mot de passe" />
                                 <div class="invalid-feedback fw-bold" id="confirmPasswordAlert"></div>
                             </div>
                         </div>
                     </div>
                 </div>
               <div class="div-adresse">
                   <h2>Adresse </h2>
                   <hr />
                   <div class="row">
                       <!-- Numéro adresse -->
                       <div class="col-md-4">
                           <div class="form-group">
                               <div class="input-icon"><i class="fas fa-map-pin"></i></div>
                               <input required asp-for="Adresse.Numero" class="form-control verifForm" data-nom="numéro d'adresse" placeholder="Numéro" />
                               <div asp-validation-for="Adresse.Numero" class="invalid-feedback fw-bold"></div>
                           </div>
                       </div>
                       <!-- Type d'adresse' -->
                       <div class="col-md-4">
                           <div class="form-group">
                               <div class="input-icon"><i class="fas fa-location-arrow"></i></div>
                               <select required class="form-control verifForm" asp-for="Adresse.Type" data-nom="type d'adresse" asp-items="@(new SelectList(ViewBag.ListTypeAdresse,"Value", "Text"))"><option value="-1" disabled selected hidden>Type d'adresse</option></select>
                               <div asp-validation-for="Adresse.Type" class="invalid-feedback fw-bold"></div>
                           </div>
                       </div>
                       <!-- Nom de la rue -->
                       <div class="col-md-4">
                           <div class="form-group">
                               <div class="input-icon"><i class="fas fa-road"></i></div>
                               <input required asp-for="Adresse.Nom" class="form-control verifForm" data-nom="nom de rue" placeholder="Nom de la rue" />
                               <div asp-validation-for="Adresse.Nom" class="invalid-feedback fw-bold"></div>
                           </div>
                       </div>
                       <!-- Choix ville -->
                       <div class="col-md-12">
                           <div class="form-group">
                               <div class="input-icon"><i class="fas fa-city"></i></div>
                               <select required asp-for="Adresse.IdVille" searching data-live-search="true" data-nom="ville" class="form-control verifForm" asp-items="@(new SelectList(ViewBag.ListVilles,"Value", "Text"))"><option value="-1" disabled selected hidden>Sélectionner une ville</option></select>
                               <div asp-validation-for="Adresse.IdVille" class="invalid-feedback fw-bold"></div>
                           </div>
                       </div>
                       <!-- Acceptation des CGU -->
                       <div class="col-md-12 mb-3">
                           <div class="form-check">
                               <input class="form-check-input" type="checkbox" value="1" id="CGU">
                               <label class="form-check-label" for="flexCheckDefault">
                                   En vous inscrivant et en cochant cette case vous acceptez nos <a href="/Personne/cgu">Condition générale d'utilisation.</a>
                               </label>
                           </div>
                       </div>
                       <!-- Bouton submit -->
                       <div class="col-md-12 submit-btn">
                           <button class="btn signin" type="submit" id="login-btn" disabled>Finaliser l'inscription</button>
                       </div>
                       <!-- Si on est déja inscrit -->
                       <div class="text-center w-100">
                           <p class="text-muted font-weight-bold">Déjà inscrit ? <a asp-area="" asp-controller="Connection" asp-action="Index" class="text-primary ml-2">Connectez vous !</a></p>
                       </div>

                       
                   </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/register.js"></script>

<script>
$(document).ready(function(){
    
    $("#search-custom-2").on("keyup", function() { 
        var search = $("#search-custom-2").val();
        if(search != ""){
            $.ajax({
            //L'URL de la requête 
            url: "/Villes/GetByCPOrVille",
            //La méthode d'envoi (type de requête)
            method: "GET",
            data: {data: search},

            //Le format de réponse attendu
            dataType : "json",
            })
            //Ce code sera exécuté en cas de succès - La réponse du serveur est passée à done()
            /*On peut par exemple convertir cette réponse en chaine JSON et insérer
             * cette chaine dans un div id="res"*/
            .done(function(response){
                let data = response;
                console.log(data);
                if(data.length > 0 ){
                    $("#Adresse_IdVille").empty();
                    for (var i = 0; i < data.length; i++) {
                        $("#Adresse_IdVille").append('<option value="'+data[i].idVille+'"><i class="fas fa-building"></i> - '+data[i].cPostal+' - '+data[i].nom+'</option>');
                    }
                    regen_custom_dropdowns("#Adresse_IdVille");
                }
            
            })
            //Ce code sera exécuté en cas d'échec - L'erreur est passée à fail()
            //On peut afficher les informations relatives à la requête et à l'erreur
            .fail(function(error){
                alert("La requête s'est terminée en échec. Infos : " + JSON.stringify(error));
            })
        //Ce code sera exécuté que la requête soit un succès ou un échec
        }
    });    
});
</script>