@model WebApp.Models.Personne
@{
    ViewData["Title"] = "Création de mon compte";
}
@section Styles {
    <link rel='stylesheet' href='~/css/register.css'>
}
<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-12 col-lg-3 pr-lg-5 mb-5 mb-md-0 card-photo">
            <img src="~/img/logoV2.png" class="logo-submit img-logo" alt="logo">
        </div>

        <!-- Registeration Form -->
        <div class="col-md-12 col-lg-9 ml-auto card-register">
            <form class="form-horizontal" asp-action="RegisterCreate">
                 <h1>Création de mon compte</h1>
                 <div class="div-general">
                     <h2>Générale</h2>
                     <hr />
                     <div class="row">
                        <div class="col-md-6">
                            <!-- First Name -->
                            <div class="form-group">
                                <span class="input-icon"><i class="fas fa-address-card"></i></span>
                                <input asp-for="Prenom" class="form-control" placeholder="Prénom" required/>
                                <span asp-validation-for="Prenom" class="text-danger"></span>
                            </div>
                        </div>
                    
                        <div class="col-md-6">
                            <!-- First Name -->
                            <div class="form-group">
                                <span class="input-icon"><i class="fas fa-address-card"></i></span>
                                <input asp-for="Nom" class="form-control" placeholder="Nom " required/>
                                <span asp-validation-for="Nom" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- First Name -->
                            <div class="form-group">
                                <span class="input-icon"><i class="fas fa-calendar-week"></i></span>
                                <input asp-for="DateNaissance" class="form-control" required/>
                                <span asp-validation-for="DateNaissance" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="input-icon"><i class="fas fa-genderless"></i></span>
                                <select required class="form-control" id="Genre" asp-for="Genre" asp-items="@(new SelectList(ViewBag.ListGenres,"Value", "Text"))" ><option value="-1" disabled selected hidden>Veuillez sélectionner un genre</option></select>
                                <span asp-validation-for="Genre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- First Name -->
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-envelope"></i></span>
                                <input required asp-for="Mail" class="form-control" placeholder="Adresse mail"/>
                                <span asp-validation-for="Mail" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <!-- First Name -->
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-lock"></i></span>
                                <input required asp-for="PasswordHash" type="password" class="form-control" placeholder="Mot de passe" />
                                <span asp-validation-for="PasswordHash" class="text-danger"></span>
                            </div>
                        </div>
                   </div>
               </div>
               <div class="div-adresse">
                   <h2>Adresse </h2>
                   <hr />
                   <div class="row">
                        <div class="col-md-4">
                            <!-- First Name -->
                            <div class="form-group">
                                <span class="input-icon"><i class="fas fa-map-pin"></i></span>
                                <input required asp-for="Adresse.Numero" class="form-control" placeholder="Numéro" />
                                <span asp-validation-for="Adresse.Numero" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <span class="input-icon"><i class="fas fa-location-arrow"></i></span>
                                <select required class="form-control" id="Genre" asp-for="Adresse.Type" asp-items="@(new SelectList(ViewBag.ListTypeAdresse,"Value", "Text"))"><option value="-1" disabled selected hidden>Type d'adresse</option></select>
                                <span asp-validation-for="Adresse.Type" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <!-- First Name -->
                            <div class="form-group">
                                <span class="input-icon"><i class="fas fa-road"></i></span>
                                <input required asp-for="Adresse.Nom" class="form-control" placeholder="Nom de la rue"/>
                                <span asp-validation-for="Adresse.Nom" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <!-- First Name -->
                            <div class="form-group">
                                <span class="input-icon"><i class="fas fa-city"></i></span>
                                <select required asp-for="Adresse.Ville.IdVille" onchange="RecupIdVille(this.value)" class="form-control" asp-items="@(new SelectList(ViewBag.ListVilles,"Value", "Text"))"><option value="-1" disabled selected hidden>Veuillez sélectionner une ville</option></select>
                                <span asp-validation-for="Adresse.Ville.IdVille" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 submit-btn">
                            <button class="btn signin" type="submit">Finaliser l'inscription</button>
                        </div>
                        <!-- Already Registered -->
                        <div class="text-center w-100">
                            <p class="text-muted font-weight-bold">Déjà inscrit ? <a asp-area="" asp-controller="Connection" asp-action="Index" class="text-primary ml-2">Connectez vous !</a></p>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function RecupIdVille(value) {
        document.getElementById("IdVille").value = value;
    }
</script>
