@model WebApp.Models.Personne
@{
    ViewData["Title"] = "Création de mon compte";
}
@section Styles {
    <link rel='stylesheet' href='~/css/box_form.css'>
}

<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- Logo -->
        <div class="col-md-12 col-lg-3 pr-lg-5 mb-5 mb-md-0 card-photo">
            <img src="~/img/logoV2.png" class="logo-submit img-logo" alt="logo">
        </div>

        <!-- Formulaire d'inscription -->
        <div class="col-md-12 col-lg-9 ml-auto card-register">
            <form class="form-horizontal" asp-action="RegisterCreate">
                 <h1>Création de mon compte</h1>
                 <div class="div-general">
                     <h2>Général</h2>
                     <hr />
                     <div class="row">
                        <!-- Prénom -->
                        <div class="col-md-6">                   
                            <div class="form-group">
                                <div class="input-icon"><i class="fas fa-address-card"></i></div>
                                <input asp-for="Prenom" class="form-control verifForm" data-nom="prénom" placeholder="Prénom" required/>
                                <div asp-validation-for="Prenom" class="invalid-feedback fw-bold"></div>
                            </div>
                        </div>
                        <!-- Nom -->
                        <div class="col-md-6">                        
                            <div class="form-group">
                                <div class="input-icon"><i class="fas fa-address-card"></i></div>
                                <input asp-for="Nom" class="form-control verifForm" data-nom="nom" placeholder="Nom" required/>
                                <div asp-validation-for="Nom" class="invalid-feedback fw-bold"></div>
                            </div>
                        </div>
                        <!-- Date de naissance -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-icon"><i class="fas fa-calendar-week"></i></div>
                                <input asp-for="DateNaissance" class="form-control verifForm" data-nom="date de naissance" required/>
                                <div asp-validation-for="DateNaissance" class="invalid-feedback fw-bold"></div>
                            </div>
                        </div>
                        <!-- Genre -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-icon"><i class="fas fa-genderless"></i></div>
                                <select required class="form-control verifForm" id="Genre" data-nom="genre" asp-for="Genre" asp-items="@(new SelectList(ViewBag.ListGenres,"Value", "Text"))" ><option value="-1" disabled selected hidden>Sélectionner un genre</option></select>
                                <div asp-validation-for="Genre" class="invalid-feedback fw-bold"></div>
                            </div>
                        </div>
                        <!-- Adresse mail -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-icon"><i class="fa fa-envelope"></i></div>
                                <input required asp-for="Mail" type="email" class="form-control verifForm" data-nom="adresse mail" placeholder="Adresse mail"/>
                                <div asp-validation-for="Mail" class="invalid-feedback fw-bold"></div>
                            </div>
                        </div>
                        <!-- Mot de passe -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-icon"><i class="fa fa-lock"></i></div>
                                <input required asp-for="PasswordHash" type="password" id="password" data-nom="mot de passe" minlength="8" class="form-control verifForm" placeholder="Mot de passe" />
                                <div asp-validation-for="PasswordHash" class="invalid-feedback fw-bold" id="passwordAlert"></div>
                            </div>
                        </div>
                        <!-- Confirmation mot de passe -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-icon"><i class="fa fa-lock"></i></div>
                                <input required id="confirmPassword" type="password" class="form-control verifForm" data-nom="confirmation de mot de passe" placeholder="Confirmation du mot de passe" />
                                <div class="invalid-feedback fw-bold" id="confirmPasswordAlert"></div>
                            </div>
                        </div>
                   </div>
               </div>
               <div class="div-adresse">
                   <h2>Adresse </h2>
                   <hr />
                   <div class="row">
                       <!-- Numéro adresse -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-icon"><i class="fas fa-map-pin"></i></div>
                                <input required asp-for="Adresse.Numero" class="form-control verifForm" data-nom="numéro d'adresse" placeholder="Numéro" />
                                <div asp-validation-for="Adresse.Numero" class="invalid-feedback fw-bold"></div>
                            </div>
                        </div>
                        <!-- Type d'adresse' -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-icon"><i class="fas fa-location-arrow"></i></div>
                                <select required class="form-control verifForm" asp-for="Adresse.Type" data-nom="type d'adresse" asp-items="@(new SelectList(ViewBag.ListTypeAdresse,"Value", "Text"))"><option value="-1" disabled selected hidden>Type d'adresse</option></select>
                                <div asp-validation-for="Adresse.Type" class="invalid-feedback fw-bold"></div>
                            </div>
                        </div>
                        <!-- Nom de la rue -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-icon"><i class="fas fa-road"></i></div>
                                <input required asp-for="Adresse.Nom" class="form-control verifForm" data-nom="nom de rue" placeholder="Nom de la rue"/>
                                <div asp-validation-for="Adresse.Nom" class="invalid-feedback fw-bold"></div>
                            </div>
                        </div>
                        <!-- Choix ville -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-icon"><i class="fas fa-city"></i></div>
                                <select required asp-for="Adresse.IdVille" searching data-live-search="true" data-nom="ville" class="form-control verifForm" asp-items="@(new SelectList(ViewBag.ListVilles,"Value", "Text"))"><option value="-1" disabled selected hidden>Sélectionner une ville</option></select>
                                <div asp-validation-for="Adresse.IdVille" class="invalid-feedback fw-bold"></div>
                            </div>
                        </div>
                        <!-- Bouton submit -->
                        <div class="col-md-12 submit-btn">
                            <button class="btn signin" type="submit" id="login-btn" disabled>Finaliser l'inscription</button>
                        </div>
                        <!-- Si on est déja inscrit -->
                        <div class="text-center w-100">
                            <p class="text-muted font-weight-bold">Déjà inscrit ? <a asp-area="" asp-controller="Connection" asp-action="Index" class="text-primary ml-2">Connectez vous !</a></p>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/register.js"></script>