:root {
    --main-bg-color: #ff5964;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    /*background: rgb(77 91 249 / 26%);*/
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

body {
    min-height: 100vh;
    background-color: #fff;
}

.navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 300px;
    border-radius: 0px 0px 10px 0px;
    box-sizing: initial;
    border-left: 5px solid var(--main-bg-color);
    background-color: var(--main-bg-color);
    transition: width 0.3s 0.05s;
    overflow-x: hidden;
    user-select: none;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 80px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: background-color 0.5s;
}

.navigation ul li:hover{
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: background-color 0.5s;
}

.navigation ul li :hover{
    color: black ;
    transition: color 0.5s;
}

.logOut:hover span i{
    color: red !important;
}

.navigation ul li.active {
    background-color: #fff;
    width: 100%;
}

.navigation ul li.active a {
    color: #333;
}

.navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon icon-icon {
    font-size: 1.5em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
    transition: 0.2s;
}

.navigation.responsive {
    width: 70px;
}

.navigation.responsive ul li a .title {
    padding-left: 100px;
    color: transparent;
}

@media only screen and (min-width: 601px) {
    #main {
        transition: margin-left 0.6s;
    }

    #main.active {
        margin-left: 10em !important;
        transition: margin-left 0.3s;
    }
}

@media only screen and (max-width: 601px) {
    #main {
        margin-left: 4.5em !important;
    }
}

#menu {
    z-index: 1000 !important;
}

.logo {
    width: 70px;
    height: 70px;
}

.titleNav{
    overflow-x: hidden !important;
    color: white;
    width: 350px;
}

.titleNav > span {
    overflow: hidden;
    font-weight: 800;
    font-size: 19px;
}

.iconNav {
    line-height: 60px !important;
    margin-left: 25px !important;
    padding-right: 10px;
    width: 20px;
}