@model ServiceDAL.BusinessObjet.Ressources

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ressources</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CheminAcces" class="control-label"></label>
                <input asp-for="CheminAcces" class="form-control" />
                <span asp-validation-for="CheminAcces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>

              <div class="col-md-12">
              @*  <div class="AfficheGeneral">
                    <span><i class="fas fa-building"></i>Type de ressource : @Html.Raw(new SelectList(ViewBag.ListType,"Value", "Text").Where(x => x.Value == Model.IdType.ToString()).First().Text)</span>
                </div>*@
                <div class="form-group EditGeneral">
                    <div class="input-icon"><i class="fas fa-city"></i></div>
                    <select required asp-for="IdType" class="form-control verifForm" asp-items="@(new SelectList(ViewBag.ListType,"Value", "Text"))"><option value="-1" disabled selected hidden>Sélectionner un type de ressource</option></select>
                    <div asp-validation-for="IdType" class="invalid-feedback fw-bold"></div>
                </div>
            </div>


                <div class="col-md-12">
                @*<div class="AfficheGeneral">
                    <span><i class="fas fa-building"></i>Catégorie de ressource : @Html.Raw(new SelectList(ViewBag.ListCategories,"Value", "Text").Where(x => x.Value == Model.IdCategorie.ToString()).First().Text)</span>
                </div>*@
                <div class="form-group EditGeneral">
                    <div class="input-icon"><i class="fas fa-city"></i></div>
                    <select required asp-for="IdCategorie" class="form-control verifForm" asp-items="@(new SelectList(ViewBag.ListCategories,"Value", "Text"))"><option value="-1" disabled selected hidden>Sélectionner une catégorie</option></select>
                    <div asp-validation-for="IdCategorie" class="invalid-feedback fw-bold"></div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

