@model ServiceDAL.BusinessObjet.Ressources

@{
    ViewData["Title"] = "Création d'une ressource";
}
@section Styles {
    <link rel='stylesheet' href='~/css/box_form.css'>
}
<div class="container center-element-page">
    <div class="row py-5 mt-4 align-items-center">
        <!-- Logo -->
        <div class="col-md-12 col-lg-3 pr-lg-5 mb-5 mb-md-0 card-photo">
            <i class="logo-submit img-logo fas fa-book-reader"></i>
        </div>

        <!-- Formulaire d'inscription -->
        <div class="col-md-12 col-lg-9 ml-auto card-register">
            <form class="form-horizontal" asp-action="Create" enctype="multipart/form-data">
                 <h1>Création d'une ressource</h1>
                 <div class="div-general">
                     <h2>Ressources</h2>
                     <hr />
                     <div class="row">
                        <!-- Nom -->
                        <div class="col-md-6">                        
                            <div class="form-group">
                                <div class="input-icon"><i class="fas fa-address-card"></i></div>
                                <input asp-for="Nom" class="form-control verifForm" data-nom="nom" placeholder="Nom" required/>
                                <div asp-validation-for="Nom" class="invalid-feedback fw-bold"></div>
                            </div>
                        </div>
                        <!-- CheminAcces -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-icon"><i class="fas fa-calendar-week"></i></div>
                                <input asp-for="CheminAcces" class="form-control verifForm" data-nom="CheminAcces" placeholder="Chemin accès" required/>
                                <div asp-validation-for="CheminAcces" class="invalid-feedback fw-bold"></div>
                            </div>
                        </div>
                        <!-- Source -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-icon"><i class="fas fa-calendar-week"></i></div>
                                <input asp-for="Source" class="form-control verifForm" data-nom="Source" placeholder="Source" required/>
                                <div asp-validation-for="Source" class="invalid-feedback fw-bold"></div>
                            </div>
                        </div>
                        <!-- IdType -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-icon"><i class="fas fa-file"></i></div>
                                <select required class="form-control verifForm" id="IdType" data-nom="IdType" asp-for="IdType" asp-items="@(new SelectList(ViewBag.ListType,"Value", "Text"))" ><option value="-1" disabled selected hidden>Sélectionner un type de ressource</option></select>
                                <div asp-validation-for="IdType" class="invalid-feedback fw-bold"></div>
                            </div>
                        </div>
                        <!-- IdCategorie -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-icon"><i class="fas fa-filter"></i></div>
                                <select required class="form-control verifForm" id="IdCategorie" data-nom="IdCategorie" asp-for="IdCategorie" asp-items="@(new SelectList(ViewBag.ListCategories,"Value", "Text"))"><option value="-1" disabled selected hidden>Sélectionner une catégorie</option></select>
                                <div asp-validation-for="IdCategorie" class="invalid-feedback fw-bold"></div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group center-element">
                                <div class="input-icon"><i class="fas fa-file"></i></div>
                                <input class="form-control inputfile" type="file" id="file" accept="image/png, image/jpeg" name="file" placeholder="Glisser ou sélectionner le fichier à upload">
                                <label for="file">Glisser ou sélectionner le fichier à upload</label>
                                <div class="invalid-feedback fw-bold"></div>
                            </div>
                          
                        </div>
                        <!-- Bouton submit -->
                        <div class="col-md-12 submit-btn">
                            <button class="btn signin" type="submit" id="login-btn">Créer la ressource !</button>
                        </div>
                   </div>
               </div>
            </form>
        </div>
    </div>
</div>

