@model ServiceDAL.BusinessObjet.Ressources
@using Microsoft.AspNetCore.Http
@using System.Text.Json
@{
    ViewData["Title"] = "Home Page";
    ViewData["Page"] = "Home";

    Personne user = Context.Session.GetString("user") != null ? JsonSerializer.Deserialize<Personne>(Context.Session.GetString("user")) : null;
}
@{
    ViewData["Title"] = "Create";
}
<p> je suis la page dedit de la ressource</p>
<p>@Model.Id</p>

@if(Model.IsValidate == false && (user.IdRoles == 4 || user.IdRoles == 5 || user.IdRoles == 3 )){

    <button class="btn btn-primary" id="dudu">VALIDATE</button>

    <script>
        document.querySelector("#dudu").addEventListener("click",  (e) => {
       let request =         
      $.ajax({
        type: "POST", 	       
        url: "/ressource/validateressource?id=" + @Model.Id
      });
      request.done(function (output) {
        console.log("good");
       
      });
})
    </script>
}