@using Microsoft.AspNetCore.Http
@using System.Text.Json
@{
    ViewData["Title"] = "Historique";
    ViewData["Page"] = "Historique";

    Personne user = Context.Session.GetString("user") != null ? JsonSerializer.Deserialize<Personne>(Context.Session.GetString("user")) : null;
}

@section Styles {
    <link rel='stylesheet' href='~/css/card-Ressource.css'>
    <link rel='stylesheet' href='~/css/mesRessources.css'>
}
<div id="container" class="container">
    <div class="row cardPage mt-5">
        <div class="titleRessource">
            <h1 class="text-center">Historique des ressources</h1>
            <h2>Liste des dernières ressources consultées</h2>
        </div>
        <div class="row d-flex justify-content-evenly lesRessources">
            
        </div>
    </div>
</div>
<script> //js pour appeler la fonction en ajax "Mesressources"
$(document).ready(function(){
    var user = '@(user != null ? user : null)';
    var userId = '@(user != null ? user.Id : null)';
    $.ajax({
        //L'URL de la requête 
        url: "/Ressource/GetHistorique?id=" + @user.Id,

        //La méthode d'envoi (type de requête)
        method: "GET",

        //Le format de réponse attendu
        dataType : "json",
    })
    //Ce code sera exécuté en cas de succès - La réponse du serveur est passée à done()
    /*On peut par exemple convertir cette réponse en chaine JSON et insérer
     * cette chaine dans un div id="res"*/
    .done(function(response){
        let data = response;
        console.log(data);
        for (var i = 0; i < data.length; i++) {
            var date = new Date(data[i].date);
            var month = date.toLocaleString('FR-FR', { month: 'short' });
          $(".lesRessources").append('<div class="col-lg-2 col-md-2 col-sm-2 mb  mb-5"> '
                                        +'<div class="ressourceCard card">'
                                            +'<div class="wrapper">'
                                                +'<div class="background">'
                                                    +'<img src="../img/type_ressource/'+data[i].type.libelle+'.png" alt="logo excel">'
                                                +'</div> '
                                                +'<div class="date">'
                                                    +'<span class="day">'+date.getDate()+'</span><span class="month">'+month+'</span><span class="year">'+date.getFullYear()+'</span>'
                                                +'</div>'
                                                +'<div class="data"><div class="isFavS '+(data[i].isfav ? "" : "d-none")+'"><i class="fas fa-star"></i></div>'
                                                    +' <div class="content">'
                                                        +'<span class="author">'+data[i].personne.prenom+' '+data[i].personne.nom+'</span>'
                                                        +'<h3 class="title"><a href="/Ressource/GetRessource?id='+ data[i].id +'">'+data[i].nom+'</a></h3>'
                                                        +'<p class="text">Catégorie : <span class="badge bg-danger">'+data[i].categorie.libelle+'</span></p>'
                                                        +'<label for="show-menu'+i+'" class="menu-button"><span></span></label>'
                                                    +'</div>'
                                                    +'<input type="checkbox" id="show-menu'+i+'"/>'
                                                    +'<ul class="menu-content">'
                                                        +(user != "null" && user != "" ? (userId == data[i].personne.id ? '<li><a href="Ressource/Edit?id='+data[i].id+'" class="editRessource fas fa-pen"></a></li>' : '') : '')
                                                        +'<li><button class="far fa-comment"><span>8</span></button></li>'
                                                        +(user != "null" && user != "" ? '<li><button data-id="'+ data[i].id +'" class="addFav '+(data[i].isfav ? "fas" : "far")+' fa-star"></button></li>' : '')
                                                    +'</ul>'
                                                +'</div>'
                                            +'</div>'
                                        +'</div>'
                                     +'</div>');
        }
        
        if(user != "null" && user != ""){
            $(".addFav").on("click", function() { 
                var thisFav = $(this);
                    $.ajax({
                            //L'URL de la requête 
                            url: "Ressource/Addfav",
                            //La méthode d'envoi (type de requête)
                            method: "GET",
                            data: "id=" + $(this).data("id")
                    }).done(function(response){
                        if(response){
                            thisFav.removeClass("far").addClass("fas");
                            thisFav.parent().parent().parent().find(".isFavS").removeClass("d-none");
                        }else {
                            thisFav.removeClass("fas").addClass("far");
                            thisFav.parent().parent().parent().find(".isFavS").addClass("d-none");
                        }
                        console.log(response);
                    })
            });
        }
    })

    //Ce code sera exécuté en cas d'échec - L'erreur est passée à fail()
    //On peut afficher les informations relatives à la requête et à l'erreur
    .fail(function(error){
        alert("La requête s'est terminée en échec. Infos : " + JSON.stringify(error));
    })

    //Ce code sera exécuté que la requête soit un succès ou un échec
    });
</script>