
@section Styles {
    <link rel='stylesheet' href='~/css/card-Ressource.css'>
    <link rel='stylesheet' href='~/css/mesRessources.css'>
}
@{
  ViewData["Title"] = "Mes ressources";
}

<div id="container" class="container">
    <div class="row cardPage mt-5">
        <div class="titleRessource">
            <h1 class="text-center">Mes ressources</h1>

            <a target="_blank" class="btn btn-success btnCreate" href="/Ressource/Create"><i class="fas fa-book"></i> Créé une ressource</a>

            <div id="ressourceExist" class="d-none"><h2>Liste de mes ressources</h2></div>
            <div id="ressourceNone" class="center-element d-none" style="padding: 150px 0px;"><h2>Vous n'avez publier aucune ressources ! </h2></div>
        </div>
        <div class="row d-flex justify-content-evenly lesRessources">
            
        </div>
    </div>
</div>
<div id="container" class="container mt-4">
    <div class="card-custom">
        <h2 class="text-center mt-1 mb-1">Mes Statistiques</h2>
        <div class="row center-element justify-content-between">
            <div class="col-lg-5 col-12 card-custom center-element flex-column">
                <h3>Mon nombre de ressources lue</h3>
                <div>
                    <p id="moyressourcelu" class="text-center text-primary" style="font-size: 5rem;">12</p>
                </div>
            </div>
            <div class="col-lg-5 col-12 card-custom center-element flex-column">
                <h3>Mon nombre de ressources créé</h3>
                <div>
                    <p id="moyressourcecree" class="text-center text-primary" style="font-size: 5rem;">12</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script> //js pour appeler la fonction en ajax "Mesressources"

$(document).ready(function(){
    $.ajax({
        //L'URL de la requête 
        url: "../Ressource/Mesressources",
        //La méthode d'envoi (type de requête)
        method: "GET",
        //Le format de réponse attendu
        dataType : "json",
    })
    //Ce code sera exécuté en cas de succès - La réponse du serveur est passée à done()
    /*On peut par exemple convertir cette réponse en chaine JSON et insérer
     * cette chaine dans un div id="res"*/
    .done(function(response){
        //let data = JSON.stringify(response);
        let data = response;
        console.log(data);
        if(data.length > 0) {
            $("#ressourceNone").addClass("d-none");
            $("#ressourceExist").removeClass("d-none");
        }else {
            $("#ressourceNone").removeClass("d-none");
            $("#ressourceExist").addClass("d-none");
        }
        for (var i = 0; i < data.length; i++) {
            var date = new Date(data[i].date);
            var month = date.toLocaleString('FR-FR', { month: 'short' });
          $(".lesRessources").append('<div class="col-lg-2 col-md-2 col-sm-2 mb  mb-5"> '
                                        +'<div class="ressourceCard card">'
                                            +'<div class="wrapper">'
                                                +'<div class="background">'
                                                    +'<img src="img/type_ressource/'+data[i].type.libelle+'.png" alt="logo excel">'
                                                +'</div> '
                                                +'<div class="date">'
                                                    +'<span class="day">'+date.getDate()+'</span><span class="month">'+month+'</span><span class="year">'+date.getFullYear()+'</span>'
                                                +'</div>'
                                                +'<div class="data">'
                                                    +' <div class="content">'
                                                        +'<span class="author">'+data[i].personne.prenom+' '+data[i].personne.nom+'</span>'
                                                        +'<h3 class="title"><a href="/Ressource/GetRessource?id='+ data[i].id +'">'+data[i].nom+'</a></h3>'
                                                        +'<p class="text">Catégorie : <span class="badge bg-danger">'+data[i].categorie.libelle+'</span></p>'
                                                        +'<label for="show-menu'+i+'" class="menu-button"><span></span></label>'
                                                    +'</div>'
                                                    +'<input type="checkbox" id="show-menu'+i+'"/>'
                                                    +'<ul class="menu-content">'
                                                        +'<li><a href="Ressource/Edit?id='+data[i].id+'" class="editRessource fas fa-pen"></a></li>'
                                                        +'<li><button class="far fa-comment"><span>8</span></button></li>'
                                                        +'<li><button data-id="'+ data[i].id +'" class="addFav '+(data[i].isfav ? "fas" : "far")+' fa-star"></button></li>'
                                                    +'</ul>'
                                                +'</div>'
                                            +'</div>'
                                        +'</div>'
                                     +'</div>');
        }
        $(".addFav").on("click", function() { 
            var thisFav = $(this);
                $.ajax({
                        //L'URL de la requête 
                        url: "Ressource/Addfav",
                        //La méthode d'envoi (type de requête)
                        method: "GET",
                        data: "id=" + $(this).data("id")
                }).done(function(response){
                    if(response){
                        thisFav.removeClass("far").addClass("fas");
                    }else {
                        thisFav.removeClass("fas").addClass("far");
                    }
                    console.log(response);
                })
        });
    })
    
    //Ce code sera exécuté en cas d'échec - L'erreur est passée à fail()
    //On peut afficher les informations relatives à la requête et à l'erreur
    .fail(function(error){
        alert("La requête s'est terminée en échec. Infos : " + JSON.stringify(error));
    })

    //Ce code sera exécuté que la requête soit un succès ou un échec
    });
    
    
</script>


<script>
    
      $.ajax({
        url: '/Ressource/getmoyressourcelu/',
        type: "GET",
        success: function(response) {
            console.log(response);
            document.getElementById("moyressourcelu").innerHTML = response;
        }
    });

     $.ajax({
        url: '/Ressource/getressourcecree/',
        type: "GET",
        success: function(response) {
            console.log(response);
            document.getElementById("moyressourcecree").innerHTML = response;
        }
    });

</script>
