@using Microsoft.AspNetCore.Http
@using System.Text.Json
@model ServiceDAL.BusinessObjet.Ressources

@{
    Personne user = Context.Session.GetString("user") != null ? JsonSerializer.Deserialize<Personne>(Context.Session.GetString("user")) : null;
}

@section Styles {
    <link rel='stylesheet' href='~/css/maRessource.css'>
    <link rel='stylesheet' href='~/css/box_form.css'>
    <link rel='stylesheet' href='~/css/card_commentaire.css'>
}

<p> COUCOU TU VEUX VOIR MA PLANETTE</p>
<p>EXCEL</p>

@if(user != null){
    <partial name="/Views/Shared/_commentaires.cshtml" />
}
